body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body .site-container {
  width: 750px;
  margin: auto;
}

a {
  color: green;
  text-decoration: none;
}

a:link {
  text-decoration: none;

}

ul {
  list-style-type: none;
}

a:hover {
  color: red;
}

@media (max-width: 768px) {
  .site-container {
    width: 95vw;
  }
}
