.post-container {
  max-width: 750px;
  margin: 30px auto 0px;
  padding: 30px;
  //background-color: red;
}

.post-container a {
  color: green;
  text-decoration: none;
}

.post-container a:link {
  text-decoration: none;

}

.post-container ul {
  list-style-type: none;
}
