<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://kit.fontawesome.com/147c0ec98c.js" crossorigin="anonymous"></script>
    <!-- Mathjax Support -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css"
  </head>
  <body>
    <div class="site-container">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    </div>
  </body>
</html>
